

<!-- Display errors on page: -->
<div class="container">

	<div class="row">

		<% flash.each do |name, msg| -%>
    		<%= content_tag :div, msg, class: name %>
		<% end -%>

	<% if @user %>
		<%= render partial: "shared/form_error_list", locals: { model: @user } %>
	<% end %>
	

	<div class="col-md-4">
		<h2>Registration</h2>
		<%= form_for @user do |f| %>
			
			<p>
				<%= f.text_field :email, :placeholder => "name@example.com" %>
			</p>
			<p>
				<%= f.password_field :password, :placeholder => "password" %>
			</p>
			<p>
				<%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
			</p>
			<p>
				<%= f.select :license_plate_state, 
			["AL", "AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","DC","Other"] %>
			</p>
			<p>
				<%= f.text_field :license_plate_number, :placeholder => "License Plate Number" %>
			</p>
			<p>
				<%= f.file_field :vehicle_image, :placeholder => "Vehicle Image" %>
			</p>	
			<p>
				<%= f.submit %>
			</p>

		<% end %>

	</div>
</div>


</div>


