

<!-- Display errors on page: -->
<div class="container">

	<div class="row">

		<% flash.each do |name, msg| -%>
    		<%= content_tag :div, msg, class: name %>
		<% end -%>

	<% if @user %>
		<%= render partial: "shared/form_error_list", locals: { model: @user } %>
	<% end %>
	

	<div class="col-md-4">
		<h2>Registration</h2>
		<%= form_for @user do |f| %>
			
			<p>
				<%= f.text_field :email, :placeholder => "name@example.com" %>
			</p>
			<p>
				<%= f.password_field :password, :placeholder => "password" %>
			</p>
			<p>
				<%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
			</p>
			<p>
				<%= f.text_field :license_plate_state, :placeholder => "State" %>
			</p>
			<p>
				<%= f.text_field :license_plate_number, :placeholder => "License Plate Number" %>
			</p>
			<p>
				<%= f.file_field :vehicle_image, :placeholder => "Vehicle Image" %>
			</p>	
			<p>
				<%= f.submit %>
			</p>

		<% end %>

	</div>
</div>






<h2>Login</h2>

<%= form_tag sessions_path do %>

    <p>
        <%= text_field_tag :email, nil, :placeholder=>"name@example.com"%>
    </p>
    <p>
        <%= password_field_tag :password, nil, :placeholder=>"password" %>
    </p>
    <p>
        <%= submit_tag "Login" %>
    </p>

<% end %>

</div>


