<%= form_for @review, html: {class: "form-horizontal"} do |f| %>
		
	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>State</div>
					<%= f.select :reviewed_plate_state, 
						["AL", "AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","DC","Other"] %>
					<%= f.text_field :reviewed_plate_number, :placeholder=>"License Plate Number" %>
					<img src="#">
				</div>

				<!-- geolocation button -->
				<div class="col-md-6">
					<input type="button" value="Stamp Location" onclick="showlocation()"/> 

					<br>
					Latitude: <span id="latitude">..</span><br>
					Longitude: <span id="longitude">..</span>

					<SCRIPT>
					function showlocation(){
						navigator.geolocation.watchPosition(callback);
					}
					function callback(position){
						document.getElementById('latitude').innerHTML=position.coords.latitude;
						document.getElementById('longitude').innerHTML=position.coords.longitude;
					}
					</SCRIPT>
				</div>	
				
			</div>
				<br><br><br><br>
			
				<div class="row">
					<div class="col-md-3">
						<div>Aggressive</div>
						<%= f.label "Speeding" %> 
				        <%= f.check_box :aggressive_speeding %> <br />
				        <%= f.label "Weaving" %> 
				        <%= f.check_box :aggressive_weaving %> <br />
				        <%= f.label "Tailgating" %> 
				        <%= f.check_box :aggressive_tailgating %> <br />
				        <%= f.label "Cutting in Front" %> 
				        <%= f.check_box :aggressive_cutting %> <br />
				        <%= f.label "Road Rage" %> 
				        <%= f.check_box :aggressive_rage %> <br />
				        <%= f.label "Other Aggressive" %> 
				        <%= f.check_box :aggressive_other %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Inattentive</div>
						<%= f.label "Sudden Braking" %> 
				        <%= f.check_box :inattentive_braking %> <br />
				        <%= f.label "Drifting" %> 
				        <%= f.check_box :inattentive_drifting %> <br />
				        <%= f.label "Phone / Makeup / Kids" %> 
				        <%= f.check_box :inattentive_phone %> <br />
				        <%= f.label "Pedestrian Encounter" %> 
				        <%= f.check_box :inattentive_pedestrian %> <br />
				        <%= f.label "Drunk Driving" %> 
				        <%= f.check_box :inattentive_drunk %> <br />
				        <%= f.label "Other Inattentive" %> 
				        <%= f.check_box :inattentive_other %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Alert</div>
						<%= f.label "Safe" %> 
				        <%= f.check_box :alert_safe %> <br />
				        <%= f.label "Courteous" %> 
				        <%= f.check_box :alert_courteous %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Parking</div>
						<%= f.label "Illegal" %> 
				        <%= f.check_box :parking_illegal %> <br />
				        <%= f.label "Blocking" %> 
				        <%= f.check_box :parking_blocking %> <br />
			    	</div>
				</div>


		<br><br><br><br>
		<%= f.submit %>
		<br><br>

		<% end %>
				
	</div>
		

        