<%= form_for @review, html: {class: "form-horizontal"} do |f| %>
		<div>State</div>
		<%= f.select :reviewed_plate_state, 
			["AL", "AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA","WV","WI","WY","DC","Other"] %>
		<%= f.text_field :reviewed_plate_state, :placeholder=>"License Plate Number" %>
		<img src="#">
		<br><br><br><br><br><br>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div>Aggressive</div>
						<%= f.label "Speeding" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Tailgating" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Weaving" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Cut in Front" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Road Rage" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Other - Aggressive" %> 
				        <%= f.check_box :review_detail %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Inattentive</div>
						<%= f.label "Drifting" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Sudden Brake" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Phone / Makeup / Kids" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Drunk Driving" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Pedestrian Encounter" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Other - Inattentive" %> 
				        <%= f.check_box :review_detail %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Alert</div>
						<%= f.label "Safe" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Courteous" %> 
				        <%= f.check_box :review_detail %> <br />
			    	</div>
			    	<div class="col-md-3">
						<div>Parking</div>
						<%= f.label "Illegal" %> 
				        <%= f.check_box :review_detail %> <br />
				        <%= f.label "Blocking" %> 
				        <%= f.check_box :review_detail %> <br />
			    	</div>
				</div>
				
			</div>
		

        <br><br><br><br><br><br>
		<%= f.submit %>


		<% end %>